body{
    margin-top: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}




.balloon{
    height: 200px;
    width: 200px;
    border-radius: 100%;
    background-color: red;
}