            html, body {
                height: 100%;
                margin: 0;
                padding: 0;
            }

            .box-container {
                display: flex;
                height: 100%;
                width: 100%;
            }

            .my-box1 {
                flex: 1; 
                height: 100%;
                background-color: chartreuse;
                border: 2px solid #333;
                box-sizing: border-box; 
                display: flex;
                align-items: center;
                padding-left: 2vw;
            }

            .my-box2 {
                flex: 1; 
                height: 100%;
                background-color: rgb(196, 146, 108);
                border: 2px solid #333;
                box-sizing: border-box; 
                display: flex;
                align-items: center;
                padding-left: 2vw; 
            }

            p {
                margin: 0;
                font-size: 3vw;
            }